body {
    font-family: helvetica;
    text-align: center;
    color: black;
    background-color:white;
    padding: auto;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
    height: 50px;
}

nav a {
    height: 30px;
    width: 120px;
}

#divBusca{
    background-color:#2c2b2e;
    border:solid 1px;
    border-radius:15px;
    width: 418px;
    height: 36px;
    align-self: center;
}

#txtBusca{
    float:left;
    background-color:transparent;
    color: whitesmoke;
    padding-left:5px;
    font-style:normal;
    font-size:24px;
    border:none;
    height:36px;
    width:416px;
}

nav a img {
    padding-top: 12px;
    height: 56px;
    width: 196px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    margin-right: 20px;
}

ul li a {
    font-family: arial;
    font-size: 20;
    color: white;
}

.main {
    block-size: auto;

}


footer {
    background-color: black;
    height: auto;
}

footer img {
    margin-top: 20px;
}

footer p {
    color: white;
    font-size: small;
    padding-bottom: 10px;
}